<h1>Add a new article:</h1>

    <%= form_for :article do |f| %>
      Title: <%= f.text_field :title %><br />
      Subtitle: <%= f.text_field :subtitle %><br />
      Body: <%= f.text_field :body %><br />
      Bibliography: <%= f.text_area :bibliography %><br />

      <%= f.submit %>
    <% end %>


















<!-- <div class="row form-inline">
  <div class="col-md-6 col-md-offset-3"> -->
<!--   </div>
</div> -->
