<h3>Add a new article:</h3>

<%= form_for [@group, @article] do |f| %>
  <%= f.label :title %>:
    <%= f.text_field :title, class: "form-control" %><br>
  <%= f.label :body %>:
    <%= f.text_area :body, class: "form-control", rows: "15", id: "comment" %><br>
  <%= f.submit "submit", class: "btn btn-primary"   %>
<% end %>

