
<h1>Add a new article:</h1>

<div class="row form-inline">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for [@group, @article] do |article_form| %>
      Title: <%= article_form.text_field :title %><br />
      
      <%= article_form.fields_for @article.sections.first do |section_fields| %>
        Subtitle: <%= section_fields.text_field :subtitle %>
        Body: <%= section_fields.text_field :body %>
      <%end%>

      Bibliography: <%= article_form.text_area :bibliography %><br />

      <%= article_form.submit "submit"  %>

    <% end %>
  </div>
</div>