<h1>Add a new article:</h1>

    <%= form_for @article do |f| %>
      Title: <%= f.text_field :title %><br />
      
      <%= fields_for :sections, @article.sections do |section_fields| %>
        Subtitle: <%= section_fields.text_field :subtitle %>
        Body: <%= section_fields.text_field :body %>
      <%end%>

      Bibliography: <%= f.text_area :bibliography %><br />

      <%= f.submit %>
    <% end %>
