
<section class="title-and-bookmark">
  <div><h2 class="article-title"><%= @article.title %></h2></div>
  <div class="bookmark-container"><%= render partial:'favorites/favorite_form' %></div>
</section>

<%= link_to 'Back to Group',  
  		@group %>

<br/>
<div><%= @article.body %></div>
<div id="article-author">Added by:</div>
<div><%= link_to @article.writer.username,
		 user_path(@article.writer_id) %></div>

<% if logged_in? %>
<% if  current_user.id == @article.writer_id %>
    <%= link_to 'Destroy', 
    	group_article_path(@group, @article), 
    	method: :delete,
		data: { confirm: 'Last chance, still want to delete?'} %>
  | <%= link_to 'Edit',  
  		edit_group_article_path(@group, @article) %>
<% end %>
<% end %>

<div id="article-show-tags-container">
  <%= render '/tags/new_tag' %>
  <%= render '/tags/tags' %>
</div>
