<h2><%= @article.title %></h2>

<% @article.sections.each do |section| %>
  <h4><%= section.subtitle %></h4>
  <div><%= section.body %></div>
<% end %>

<div><%= @article.bibliography %></div>

<div id="article-author">Added by:</div>
<div><%=@article.writer.username %></div>

<% if  current_user.id == @article.writer_id %>
  <%= link_to 'Destroy', group_article_path(@group, @article), method: :delete %><br>
  <%= link_to 'Edit',  edit_group_article_path(@group, @article)%>
<%end%>


<%= render 'favorites/favorite_form' %>

<div id="article-show-tags-container">
  <%= render '/tags/new_tag' %>
  <%= render '/tags/tags' %>
</div>
