<h2><%= @article.title %></h2>

<% @article.sections.each do |section| %>
  <h4><%= section.subtitle %></h4>
  <div><%= section.body %></div>
<% end %>

<div><%= @article.bibliography %></div>

<div id="article-author">Added by:</div>
<div><%=@article.writer.username %></div>

<div id="article-show-tags-container">
  <%= render '/tags/new_tag' %>
  <%= render '/tags/tags' %>
</div>


