<section class="title-and-bookmark">
  <div><h2 class="article-title"><%= @article.title %></h2></div>
  <% if logged_in? &&  @article.published? %>
    <div class="bookmark-container"><%= render partial:'favorites/favorite_form' %></div>
  <%end%>
</section>


<br/>
<div><p class="article-body"><%= @article.body %><p></div>
<div id="article-author">Added by:</div>
<div><%= link_to @article.writer.username,
     user_path(@article.writer_id) %></div>

<% if logged_in? %>
<% if  current_user.id == @article.writer_id %>
    <%= link_to 'Destroy',
      group_article_path(@group, @article),
      method: :delete,
    data: { confirm: 'Last chance, still want to delete?'} %>
  | <%= link_to 'Edit',
      edit_group_article_path(@group, @article) %>
<% end %>
<% end %>

<div>
<%= link_to 'Back to Group', @group %>
</div>

<div id="article-show-tags-container">
  <% if logged_in? %>
    <%= render '/tags/new_tag' %>
  <% end %>
  <%= render '/tags/tags' %>
</div>

