<% provide(:title, '| Groups') %>

<h1><%= @group_name %></h1>

<% if logged_in? %>
  <% if admin? %>
    <%= link_to 'delete group', group_path(@group),
            method: :delete,
            data: { confirm: 'Are you sure?'} %>
  <% end %>
<% end %>

<h3>Users:</h3>
<% @users.each do |member| %>
  <p><%= link_to member.user.username, user_path(member.user) %>, <%= member.role %></p>
<%end%>

<h3>Articles:</h3>
<% @articles.each do |article| %>
  <p><%= article.title %></p>
<% end %>

<% if flash %>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<% end %>

<% if logged_in? && !!member_already? %>
  <%= form_tag(memberships_path, method: "post") do %>
    <%= hidden_field_tag(:group_id, value=@group.id)%>
    <%= submit_tag "Join", class: "btn btn-secondary" %>
  <% end %>
<% end %>
