<h1>Register:</h1>

<%= render 'errors' %>

<div class="form-group">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>

      <p><%= f.text_field :username, placeholder: "username", class: "form-control" %></p>
      <p><%= f.email_field :email, placeholder: "example@email.com", class: "form-control"  %></p>
      <p><%= f.password_field :password, placeholder: "password", class: "form-control" %></p>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
