<% provide(:title, '| Create a Section') %>
<h3>Create a Section</h3>

<div class="row">
  <div class="col-md-6 col-md">
    <%= form_tag @section do %>
    <%= hidden_field_tag :article_id, @article.id %>
      <%= text_field_tag :subtitle %>
      <%= text_field_tag :body %>
      <%= submit_tag "create" %>
    <% end %>

  </div>
</div>
