<!DOCTYPE html>
<html>
<head>
  <title>Wiki-ly <%= yield :title %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="nav">
    <ul class="nav-links">
      <i class="fa fa-file-text-o" aria-hidden="true" style="font-size:40px;"></i>
      <li></li>
      <li></li>
      <li>| <%= link_to "Home", root_path %></li>
      <li>| <%= link_to "Groups", groups_path %></li>
      <li>| <%= link_to "Articles", articles_path %></li>
    <% if logged_in? %>
      <li>| <%= link_to "Create a Group", new_group_path %></li>
      <li>| <%= link_to current_user.username, user_path(:id => current_user.id)%></li>
      <li>| <%= link_to "Log out", logout_path, method: :delete %>
    <% else %>
      <li>| <%= link_to "Login", login_path%></li>
      <li>| <%= link_to "Register", new_user_path%></li>
    <% end %>
    </ul>
    </nav>
<div class="container">
    <% if notice %>
      <%= notice %>
    <% end %>
<%= yield %>
</div>
    <div class="container">
      <hr>
      <footer><p>2016 &copy; Wiki-Ly</p></footer>
    </div>

</body>
</html>
